name: Autograding

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  autograde:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install pytest

    - name: Set Python path
      run: echo "PYTHONPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV

    - name: Run tests
      working-directory: $GITHUB_WORKSPACE
      run: pytest -q
